body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; /* Changed to 'row' to accommodate the sidebar */
    min-height: 100vh;
}

.sidebar {
    height: 100vh; /* Full viewport height */
    width: 250px; /* Adjust width as necessary */
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; /* Enables vertical scrolling */
    background-color: #ffffff; /* Light grey background */
    padding: 20px;
    box-sizing: border-box; /* Includes padding and borders in the element's total dimensions */
}


.category-list {
    list-style-type: none; /* Removes bullet points from the list */
    padding: 0;
}

.category-list li {
    padding: 10px;
    border-bottom: 1px solid #ffffff; /* Adds a light border between items */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    width: calc(100% - 250px); /* Adjusts header width to account for sidebar */
    margin-left: 250px; /* Pushes the header to the right to align with the main content */
}

.search-container {
    margin-right: 7%;
    
}

#productSearch {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.logo {
    margin-left: 50px;
}

main {
    flex: 1;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
    grid-gap: 20px; /* Adjust the gap between items */
    justify-content: center; /* Center grid items horizontally (if there's extra space) */
    margin-left: 250px; /* Adjusts main content to not be hidden by the sidebar */
}

.product {
    background-color: #ffffff;
    text-align: left;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    display: grid;
    
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.text {
    justify-self: start; /* Aligns the content inside the grid area to the start (left) */
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    width: calc(100% - 250px); /* Adjusts footer width to account for sidebar */
    margin-left: 250px; /* Aligns footer with the header and main content */
}
